includes:
    - phpstan-baseline.neon
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 4
    paths:
        - .

    excludePaths:
        - ./vendor/*
        - ./docs/*
        - ./Tests/*

    tmpDir: build/phpstan
    checkOctaneCompatibility: false
    checkModelProperties: false
    checkMissingIterableValueType: false
