includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - .

    excludePaths:
        - ./vendor/*
        - ./docs/*
        - ./Tests/*
        
    tmpDir: build/phpstan
    #checkOctaneCompatibility: true
    #checkModelProperties: true
    checkMissingIterableValueType: false
